h1 img {
  width: 16rem;
  display: inline-block;
  margin: 5rem 630px auto;
}
.search {
  position: relative;
  display: block;
  margin: 1rem auto;
  width: 27rem;
  height: 2.5rem;
  border-radius: 1rem;
  border-style: groove;
  border-color: whitesmoke;
  font-size: 18px;
  padding-left: 2.8rem;
  padding-right: 2.8rem;
}

input:focus {
  outline: none;
}

.fa-search {
  position: absolute;
  left: 32.75rem;
  top: 19.75rem;
}

.fa-microphone {
  position: absolute;
  left: 62.25rem;
  top: 19.75rem;
}

span {
  font-size: 15px;
  margin: 5px 10px 5px 10px;
}

nav {
  display: block;
  margin-left: 1220px;
}

button {
  color: white;
  background-color: #1a73e8;
  border: 1px solid transparent;
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px;
  width: 100px;
  height: 35px;
}
